@font-face {
    font-family: Kirby;
    src: url(../assets/fonts/kirby-classic.ttf) format(truetype);
}

@font-face {
    font-family: Seurat;
    src: url(../assets/fonts/FOT-Seurat\ Pro\ EB.otf) format(opentype);
}

body {
    margin: 0;
    color: black;
    overflow-x: hidden;
}

#path_svg {
    margin-top: 5%;
    margin-right: 5%;
}

#path {
    fill: transparent;
    stroke-width: 3px;
    stroke-dasharray: 5, 5;
}

.container {
    position: absolute;
}

.section1,
.section4 {
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.section2 {
    background-color: black;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url(../assets/images/fond.jpg);
    background-size: cover;
}

.section3, .section4, .section5 {
    background-size: cover;
    background-position: 20%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.section3 {
    background-image: url(../assets/images/espace.jpeg);
}

.section4 {
    background-image: url(../assets/images/fond.jpg);
}

.section5 {
    background-color: black;
}

.container {
    width: 100vw;
    height: auto;
}

.question {
    font-size: 3em;
    font-family: "Seurat";
    width: 100vw;
    height: 30vh;
    margin-bottom: 20%;
}

.reponse-contenant {
    width: 60vw;
    height: 30vh;
    position: absolute;
    top: 20vw;
}

.reponse-contenant2 {
    height: 30vh;
}

.reponse {
    background-color: navy;
    border-radius: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 0px 8px 10px #00000048
}

.reponse:hover {
    transform: scale(1.2);
}

#reponse1 {
    background-image: url(../assets/images/waddle_doo.webp);
}

#reponse2 {
    background-image: url(../assets/images/kibble.png);
}

#reponse3 {
    background-image: url(../assets/images/waddle_dee.webp);
}

#reponse4 {
    background-image: url(../assets/images/popstar.webp);
}

#reponse5 {
    background-image: url(../assets/images/halberd.webp);
}

#reponse6 {
    background-image: url(../assets/images/starcutter.webp);
}

#reponse7 {
    background-image: url(../assets/images/masahiro_sakurai.png);
}

#reponse8 {
    background-image: url(../assets/images/shigeru_miyamoto.png);
    background-size: fill;
}

#reponse9 {
    background-image: url(../assets/images/barack_obama.png);
}

.text-reponse {
    height: auto;
    font-family: "Kirby";
    text-align: center;
    position: relative;
    bottom: 10%;
    font-size: 1.5em;
}

.kirbytext,
.superstartext {
    font-family: "Kirby";
    font-size: 10em;
    text-align: center;
}

.kirbyetoile {
    width: 250px;
    aspect-ratio: 1/1;
    background-image: url(../assets/images/kirby_sur_etoile.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    position: relative;
    top: 30%;
}

.kirbyflotte {
    width: 200px;
    height: 200px;
    background-image: url(../assets/images/floating_kirby.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#circle_svg {
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 50vw;
    max-height: 40vh;
}

#etoile {
    position: absolute;
    stroke-width: 0;
    fill: pink;
}

#circle {
    position: absolute;
    display: none;
}

.pointage {
    font-family: "Seurat";
    font-size: 3em;
}