@font-face {
    font-family: Kirby;
    src: url(../assets/fonts/kirby-classic.ttf) format(truetype);
}

@font-face {
    font-family: Seurat;
    src: url(../assets/fonts/FOT-Seurat\ Pro\ EB.otf) format(opentype);
}

body {
    margin: 0;
    color: black;
    overflow-x: hidden;
}

#path_svg {
    margin-top: 5%;
    margin-right: 5%;
}

#path {
    fill: transparent;
    stroke-width: 3px;
    stroke-dasharray: 5, 5;
}

.container {
    position: absolute;
}

.kirbytext {
    font-family: "Kirby";
    font-size: 10em;
    text-align: center;
}

.kirbytext::before {
    position: absolute;
    content: url(../assets/images/bnw_kirby.png);
    transform-origin: 50%, 50%;
    transform: translate(-105%, -20%);
}

.kirbytext::after {
    position: absolute;
    content: url(../assets/images/bnw_kirby.png);
    transform-origin: 50%, 50%;
    transform: translate(10%, -20%);
}

.section1,
.section2,
.section3,
.section4,
.section5 {
    background-size: cover;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-blend-mode: overlay;
    background-color: rgb(76, 77, 82);
}

.section1 {
    background-color: rgb(0, 0, 0);
}

.section2 {
    background-image: url(../assets/images/fond.jpg);
}

.section3 {
    background-image: url(../assets/images/espace.jpeg);
    background-position: 20%;
}

.section4 {
    background-image: url(../assets/images/fond2.jpg);
}

.section5 {
    background-image: url(../assets/images/fond3.webp);
}

.container {
    width: 100vw;
    height: auto;
}

.question {
    font-size: 3em;
    font-family: "Seurat";
    width: 100vw;
    height: 30vh;
    margin-bottom: 40%;
}

#question2 {
    margin-bottom: 20%;
}

.reponse-contenant {
    width: 60vw;
    height: 30vh;
    position: absolute;
    top: 20vw;
}

.reponse-contenant2 {
    height: 30vh;
}

.reponse {
    background-color: rgb(50, 50, 233);
    border-radius: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 0px 8px 10px #00000048
}

.reponse:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#reponse1 {
    background-image: url(../assets/images/waddle_doo.webp);
}

#reponse2 {
    background-image: url(../assets/images/kibble.png);
}

#reponse3 {
    background-image: url(../assets/images/waddle_dee.webp);
}

#reponse4 {
    background-image: url(../assets/images/popstar.webp);
}

#reponse5 {
    background-image: url(../assets/images/halberd.webp);
}

#reponse6 {
    background-image: url(../assets/images/starcutter.webp);
}

#reponse7 {
    background-image: url(../assets/images/masahiro_sakurai.png);
    background-position: bottom center;
}

#reponse8 {
    background-image: url(../assets/images/shigeru_miyamoto.png);
    background-position: bottom center;
}

#reponse9 {
    background-image: url(../assets/images/barack_obama.png);
    background-position: bottom center;
}

.text-reponse {
    height: auto;
    font-family: "Kirby";
    text-align: center;
    position: relative;
    bottom: 15%;
    font-size: 2em;
}

.kirbyetoile {
    width: 250px;
    aspect-ratio: 1/1;
    background-image: url(../assets/images/kirby_sur_etoile.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    position: relative;
    top: 30%;
}

.kirbyflotte {
    width: 200px;
    height: 200px;
    background-image: url(../assets/images/floating_kirby.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#circle_svg {
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 50vw;
    max-height: 40vh;
}

#etoile {
    position: absolute;
    display: none;
}

#circle {
    position: absolute;
    stroke-width: 0;
    fill: rgb(238, 227, 124);
}

.pointage {
    font-family: "Seurat";
    font-size: 3em;
}

#bonnes-reponses {
    color: white;
    font-family: "Seurat";
    position: absolute;
    bottom: -30%;
    left: 7%;
    padding: 3%;
}

#bonnes-reponses:hover {
    color: rgb(238, 227, 124);
    cursor: pointer;
}